/*fuentes*/
@font-face {
    font-family: '20_dbregular';
    src: url('fonts/20db-webfont.eot');
    src: url('fonts/20db-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/20db-webfont.woff') format('woff'),
         url('fonts/20db-webfont.ttf') format('truetype'),
         url('fonts/20db-webfont.svg#20_dbregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'capsuularegular';
    src: url('fonts/Capsuula-webfont.eot');
    src: url('fonts/Capsuula-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Capsuula-webfont.woff') format('woff'),
         url('fonts/Capsuula-webfont.ttf') format('truetype'),
         url('fonts/Capsuula-webfont.svg#capsuularegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'droid_sansregular';
    src: url('fonts/DroidSans-webfont.eot');
    src: url('fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/DroidSans-webfont.woff') format('woff'),
         url('fonts/DroidSans-webfont.ttf') format('truetype'),
         url('fonts/DroidSans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'quanticoregular';
    src: url('fonts/Quantico-Regular-webfont.eot');
    src: url('fonts/Quantico-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Quantico-Regular-webfont.woff') format('woff'),
         url('fonts/Quantico-Regular-webfont.ttf') format('truetype'),
         url('fonts/Quantico-Regular-webfont.svg#quanticoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
    background: rgba(179,179,174,0.61);
    font-size: 16px;
    font-family: "quanticoregular";
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

header
{
    
    position: relative;


}

/*posisionamiento por flotacion float*/
/*posisionamiento por posiciones relativas*/


header figure
{
      
      margin: 0px; 
}

header figure img
{
    height: 250px;
    width: 100%;   
}

header hgroup 
{
    position: absolute;
    top: 20px;
    left: 50px;
    color: white;

}

header hgroup h4
{
    padding-right: 60%;

}





section 
{   
    background: white;
    background: rgba(255,255,255, 0.7);

}


#seccion1 article
{

    display: inline-block;
    width: 20%;
    text-align: center;
    position: relative;
        top: 5%;
        bottom: 5%;

    padding: 0 0.5em ;
    
     box-shadow: 0px 0px 10px 4px rgba(100,120,120,0.2);
    
}



#seccion1 div
{
   
    padding-top: 10%;
    padding-bottom: 10%;
}

#seccion1 div article 
{
    margin-left: 8%;
    padding-bottom: 3%;
    padding-top: 1%;

}


#seccion1 div article img
{
    width: 40%;

}


#seccion1 div article h4
{
    font-family: "20_dbregular";
    font-size: 0.8em;
    color: rgba(0,0,0,0.7);
    text-shadow: 4px 10px 0px rgba(0,0,0,0.2) ;
    
}

#seccion1 div article input
{
    background: #2DCD45;
    border: 2px solid #2DCD45;
    border-radius: 30%;

    
}

footer
{
    background: #C6C5C5;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
}

footer a
{
    
    text-decoration: none;
    font-size: 0.7em;
    color: #7A7A7A;
    margin-left: 1em;

}

