
body
{
  width: 80%;
  margin: 5px 10%;
}

section table
{
  height: 100%;
  width: 100%;
}

section table tr
{
  background: red;

}

 section table td
{
  height: 150px;

}

 section table td:hover
{
   background: green;

}
