ul.menu {
  width: 180px;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #7C7C7C;
}
ul.menu li {
  border-bottom: 1px solid #7C7C7C;
  border-top: 1px solid #FFF;
  background: #F4F4F4;
  background-image: url(flecha_inactiva.png);
  background-repeat: no-repeat;
}
ul.menu li a {
  padding: .2em 0 .2em 1.3em;
  display: block;
  text-decoration: none;
  color: #333;
}


ul.menu li:hover {
  border-bottom: 1px solid #7C7C7C;
  border-top: 1px solid #FFF;
  background: #E4E4E4;
  background-image: url(flecha_activa.png);
  background-repeat: no-repeat;
}