h1{
  font-family: Georgia;
  color: #30307F;
  background:#7496B3; 
  size: 24px; 
  font-letter-spacing: 1.6em; 
  font-word-spacing: 2em; 
  text-align: center;
  margin-top: 0px;
}

body{
  border: 1px solid #1C0E0E;
  margin-left: 30%;
  margin-right: 30%;
}

#personal h3{
  font-family: Georgia; 
  color: #732828; 
  font-size: 18px; 
  letter-spacing: 1em;
}

#personal{
  margin-top: 5%;
}

#personal div{
  margin-bottom: 1%;
  font-style: italic; 
}

#personal div strong{
  font-weight:100; 
  font-style: normal; 
} 

article{
  margin-top: 10%;
  position: relative;
}

article h3{
  font-family: Georgia; 
  color: #732828; 
  font-size: 18px; 
  letter-spacing: 0.5em;
}

article #fecha{
text-align: left;
margin:0px ;
margin-right: 0px;
padding-left: 2%;

position: absolute;
}

article p{
  
  text-align: left;
  margin-left: 40%;

}